/* removing normal button */
.gform_footer input[type="submit"] {
    display:none !important;
}
button.gform_button[disabled] {
    opacity: 0.3;
    cursor: not-allowed;
}
button.gform_button[disabled]:before {
    content: ' ';
    background: url(https://cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif) no-repeat;
    background-size: contain;
    margin-right: 10px;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-top: 3px;
}